.barre-stat {
  display: grid;
  background-color: rgba(255, 0, 0, 0.8);

  & span {
    grid-area: 1 / 1 / 2 / 2;
    z-index: 10;
  }

  & .barre {
    grid-area: 1 / 1 / 2 / 2;
  }
}

.personnage {
  background-color: #fff;
}

.inventory {
  display: flex;
  height: 40vh;
  width: 100%;
  margin-top: 10px;
  background-color: #151515;

  & div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
    height: 15%;

    & img {
      width: 40px;
      height: 40px;
    }

    & span {
      color: #fff;
    }
  }
}