.barre-stat {
  display: grid;
  background-color: rgba(255, 0, 0, 0.8);

  & span {
    grid-area: 1 / 1 / 2 / 2;
    z-index: 10;
  }

  & .barre {
    grid-area: 1 / 1 / 2 / 2;
  }
}

.personnage {
  background-color: #fff;
}

.inventory {
  display: flex;
  height: 40vh;
  width: 100%;
  margin-top: 10px;
  background-color: #151515;

  & div {
    display: grid;
    margin: 10px;
    cursor: pointer;
    height: 15%;

    & img {
      grid-area: 1 / 1 / 2 / 2;
      width: 40px;
      height: 40px;
      justify-self: center;
      align-self: center;
    }

    & img[alt="cadenas"] {
      width: 20px;
      height: 20px;
    }

    & span {
      color: #fff;
    }
  }
}


.souls {
  background-color: red;

  & span {
    color: #fff;
  }
}